<p id="notice"><%= notice %></p>

<h1>Listing Estacionamientos</h1>

<table>
  <thead>
    <tr>
      <th>Direccion esta</th>
      <th>Departamento esta</th>
      <th>Disponibilidad esta</th>
      <th>Codigo esta</th>
      <th>Tipo esta</th>
      <th>Tipo alquiler esta</th>
      <th>Tarifa esta</th>
      <th>Otras caracteristicas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estacionamientos.each do |estacionamiento| %>
      <tr>
        <td><%= estacionamiento.Direccion_esta %></td>
        <td><%= estacionamiento.Departamento_esta %></td>
        <td><%= estacionamiento.Disponibilidad_esta %></td>
        <td><%= estacionamiento.Codigo_esta %></td>
        <td><%= estacionamiento.Tipo_esta %></td>
        <td><%= estacionamiento.Tipo_alquiler_esta %></td>
        <td><%= estacionamiento.Tarifa_esta %></td>
        <td><%= estacionamiento.Otras_caracteristicas %></td>
        <td><%= link_to 'Show', estacionamiento %></td>
        <td><%= link_to 'Edit', edit_estacionamiento_path(estacionamiento) %></td>
        <td><%= link_to 'Destroy', estacionamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estacionamiento', new_estacionamiento_path %>
