<p id="notice"><%= notice %></p>

<p>
  <strong>Direccion esta:</strong>
  <%= @estacionamiento.Direccion_esta %>
</p>

<p>
  <strong>Departamento esta:</strong>
  <%= @estacionamiento.Departamento_esta %>
</p>

<p>
  <strong>Disponibilidad esta:</strong>
  <%= @estacionamiento.Disponibilidad_esta %>
</p>

<p>
  <strong>Codigo esta:</strong>
  <%= @estacionamiento.Codigo_esta %>
</p>

<p>
  <strong>Tipo esta:</strong>
  <%= @estacionamiento.Tipo_esta %>
</p>

<p>
  <strong>Tipo alquiler esta:</strong>
  <%= @estacionamiento.Tipo_alquiler_esta %>
</p>

<p>
  <strong>Tarifa esta:</strong>
  <%= @estacionamiento.Tarifa_esta %>
</p>

<p>
  <strong>Otras caracteristicas:</strong>
  <%= @estacionamiento.Otras_caracteristicas %>
</p>

<%= link_to 'Edit', edit_estacionamiento_path(@estacionamiento) %> |
<%= link_to 'Back', estacionamientos_path %>
