<p id="notice"><%= notice %></p>

<h1>Listing Automovils</h1>

<table>
  <thead>
    <tr>
      <th>Placa auto</th>
      <th>Marca auto</th>
      <th>Modelo auto</th>
      <th>Color auto</th>
      <th>Fecha registro auto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @automovils.each do |automovil| %>
      <tr>
        <td><%= automovil.Placa_auto %></td>
        <td><%= automovil.Marca_auto %></td>
        <td><%= automovil.Modelo_auto %></td>
        <td><%= automovil.Color_auto %></td>
        <td><%= automovil.Fecha_Registro_auto %></td>
        <td><%= link_to 'Show', automovil %></td>
        <td><%= link_to 'Edit', edit_automovil_path(automovil) %></td>
        <td><%= link_to 'Destroy', automovil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Automovil', new_automovil_path %>
