<!--<p id="notice"><%= notice %></p>

<h1>Listing Commissions</h1>!-->
<%- model_class = Commission -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<tabl class="table table-striped"e>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id)%></th>
      <th><%= model_class.human_attribute_name(:type)%></th>
      <th><%= model_class.human_attribute_name(:vehicle_type_id)%></th>
      <th><%= model_class.human_attribute_name(:district_id)%></th>
      <th>Flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commissions.each do |commission| %>
      <tr>
        <td><%= commission.type %></td>
        <td><%= commission.vehicle_type %></td>
        <td><%= commission.districts %></td>
        <td><%= commission.flag %></td>
        <td><%= link_to 'Show', commission %></td>
        <td><%= link_to 'Edit', edit_commission_path(commission) %></td>
        <td><%= link_to 'Destroy', commission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commission', new_commission_path %>
