<%- model_class = Commission -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @district.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_type_id) %>:</strong></dt>
  <dd><%= @district.vehicle_type_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:district_id) %>:</strong></dt>
  <dd><%= @district.district_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              comissions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_comission_path(@comission), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              comissions_path(@comission),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
