<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo usuario:</strong>
  <%= @usuario.Codigo_Usuario %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @usuario.Nickname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usuario.Password %>
</p>

<p>
  <strong>Nombres usuario:</strong>
  <%= @usuario.Nombres_usuario %>
</p>

<p>
  <strong>Apellidos usuario:</strong>
  <%= @usuario.Apellidos_usuario %>
</p>

<p>
  <strong>Correo usuario:</strong>
  <%= @usuario.Correo_usuario %>
</p>

<p>
  <strong>Telefono usuario:</strong>
  <%= @usuario.Telefono_usuario %>
</p>

<p>
  <strong>Estado usuario:</strong>
  <%= @usuario.Estado_usuario %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @usuario.Tipo_usuario %>
</p>

<p>
  <strong>Fecha creacion usuario:</strong>
  <%= @usuario.Fecha_Creacion_usuario %>
</p>

<p>
  <strong>Fecha actualizacion usuario:</strong>
  <%= @usuario.Fecha_Actualizacion_usuario %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
