<%- model_class = Place -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @place.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:district_id) %>:</strong></dt>
  <dd><%= @place.district_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @place.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_type_id) %>:</strong></dt>
  <dd><%= @place.vehicle_type.short_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_type_small_price) %>:</strong></dt>
  <dd><%= @place.vehicle_type_small_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_type_medium_price) %>:</strong></dt>
  <dd><%= @place.vehicle_type_medium_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_type_big_price) %>:</strong></dt>
  <dd><%= @place.vehicle_type_big_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:extra_features_string) %>:</strong></dt>
  <dd><%= @place.extra_features_string %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              places_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_place_path(@place), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              places_path(@place),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
