<li><%= link_to "Reservations", reservations_path %></li>
<li><%= link_to "Vehicle Types", vehicle_types_path  %></li>
<li><%= link_to "Commissions", commissions_path %></li>
<li><%= link_to "Districts", districts_path %></li>
<li><%= link_to "Administrator", rails_admin_path  %></li>